{% extends "base.html" %}

{% block pagetitle %} Inventory {% endblock %}

{% block content %}
<h1>Shopping Cart</h1>
{% with messages = get_flashed_messages(category_filter=["add_to_cart_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<style>
#heading {
    background-color: #DDDDDD;
}
#total {
    text-align: right;
}
</style>

        <script type="text/babel">
            var Itm = "{{ items }}";
            var container = Itm.match(/{[^}]*}/g);
            var allitems = [];
            var len = container.length
            for( var i = 0; i < len; i++){
                var ItemNameString = container[i].match(/item_name:&#34;(.+?(?=&#34;))&#34;/);
                var ItemNameStr = ItemNameString[1];

                var PriceString = container[i].match(/price:&#34;(.+?(?=&#34;))&#34;/);
                var PriceStr = PriceString[1];

                var QuantString = container[i].match(/quantity:&#34;(.+?(?=&#34;))&#34;/);
                var QuantStr = QuantString[1];

                var ITotalString = container[i].match(/item_total:&#34;(.+?(?=&#34;))&#34;/);
                var ITotalStr = ITotalString[1];

                var oidstring = container[i].match(/OID:&#34;(.+?(?=&#34;))&#34;/);
                var oidstr = oidstring[1];

                allitems.push(
                    <tr>
                        <td>{ QuantStr }&nbsp;x&nbsp;&nbsp;</td>
                        <td>{ ItemNameStr }</td>
                        <td>{ PriceStr }</td>
                        <td>{ ITotalStr }</td>
                    </tr>
                );
            }
            var ItemPopulate = React.createClass({
                render: function() {
                    return(
                        <tbody>
                            <tr id="heading">
                                <td>Quantity</td>
                                <td>Product</td>
                                <td>Item Price</td>
                                <td>Item total Price</td>
                            </tr>
                            { allitems }
                            <tr>
                                <td></td>
                                <td></td>
                                <td id="total">TOTAL</td>
                                <td>{{ gtotal }}</td>
                            </tr>
                        </tbody>
                    );
                }
            });
            ReactDOM.render(<ItemPopulate/>, document.getElementById('tableId'));
        </script>

<table class="table" id="tableId"></table>

{% endblock %}