{% extends "base.html" %}

{% block pagetitle %} Inventory {% endblock %}

{% block content %}
<br><br>
<form class='form-inline' method='post' action="{{url_for('.inventory')}}">
    <input class='form-control' type='text' name='item_name' placeholder='Item Name'/>
    <input class='form-control' type="number" step="0.01" name='price' placeholder='Price'/>
    <br><br>
    <input class='btn btn-primary' value="Add Item" type='submit' />
</form>

{% with messages = get_flashed_messages(category_filter=["add_item_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

{% with messages = get_flashed_messages(category_filter=["add_fail"]) %}

    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}


        <script type="text/babel">
            var Itm = "{{ items }}";
            var container = Itm.match(/{[^}]*}/g);
            var allitems = [];
            var len = container.length
            for( var i = 0; i < len; i++){
                var ItemNameString = container[i].match(/item_name:&#34;(.+?(?=&#34;))&#34;/);
                var ItemNameStr = ItemNameString[1];

                var PriceString = container[i].match(/price:&#34;(.+?(?=&#34;))&#34;/);
                var PriceStr = PriceString[1];

                var oidstring = container[i].match(/OID:&#34;(.+?(?=&#34;))&#34;/);
                var oidstr = oidstring[1];

                allitems.push(
                    <tr>
                        <td>
                            <form className='form-inline' method='post' action="{{url_for('.cart')}}">
                                <input type="submit" value="Add to Cart"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="hidden" name="item" value={ ItemNameStr }/>
                                &emsp;&emsp;{ ItemNameStr }&emsp;&mdash;&emsp;
                                <input type="hidden" name="price" value={ PriceStr }/>
                                { PriceStr }
                            </form>
                        </td>
                    </tr>
                );
            }
            var ItemPopulate = React.createClass({
                render: function() {
                    return(<tbody>{ allitems }</tbody>);
                }
            });
            ReactDOM.render(<ItemPopulate/>, document.getElementById('tableId'));
        </script>




<h1>Items</h1>

<table class="table" id="tableId"></table>

{% endblock %}